.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid var(--white);
  border-right-color: var(--orange);
  animation: loader 1s infinite linear;
  margin-inline: auto;
}

@keyframes loader {
  to {
    transform: rotate(360deg)
  }
}