.alert-wrapper {
  position: fixed;
  top: 0;
  right: 0%;
  box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.5);
  width: 600px;
  height: 100vh;
  overflow: hidden;
}

.alert {
  position: fixed;
  z-index: 10;
  right: 0%;
  top: 10%;
  padding: 1rem 1.5rem;
  border-left-width: 4px;
  border-left-style: solid;
  margin: 1rem 0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #f8f8f8;
  width: 400px;

  &.primary {
    border-color: var(--success);
  }

  &.danger {
    border-color: var(--danger);

  }

  &.warning {
    border-color: var(--warning);
  }

  &__title {
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__text {
    @include font(16px, 24px, 400)
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.alert-enter-active,
.alert-leave-active {
  transition: transform 0.4s ease-in-out;
}

.alert-enter-from,
.alert-leave-to {
  transform: translateX(100%);
}

.alert-enter-to,
.alert-leave-from {
  transform: translateX(0%);
}