.accordion {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 50px 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
  border: 1px solid var(--black);
  border-radius: 5px;
  overflow: hidden;

  &--open {
    grid-template-rows: 50px 1fr;

    >.accordion__header,
    >.accordion__header:hover {
      background-color: var(--blue);
      color: var(--white);
    }

    >.accordion__header>.accordion__arrow-btn {
      transform: rotate(180deg);
    }
  }

  &--expandable>&__header {
    cursor: pointer
  }

  .accordion {
    border-right: unset;
    border-radius: 5px 0 0 5px;
  }

  &__header {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    transition: 0.3s ease-in-out;
    transition-property: background-color, color;
    justify-content: space-between;

    &:hover {
      background-color: var(--blue-10);
    }
  }

  &__header-content {
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &__header-additional {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0
  }

  &__title {
    @include font(18px, 24px, 400);
    margin-right: 10px;
  }

  &__arrow-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__arrow-icon {
    transition: transform 0.3s ease-in-out;
    color: var(--orange);
    color: var(--orange);
  }

  &__content {
    overflow: hidden;
  }

  &__content-container {
    border-top: 1px solid black;
    padding: 10px 20px;
    padding-right: 0;
  }
}

@include phone {

  .accordion {
    margin-top: 5px;

    &__header {
      padding: 5px 10px;
    }

    &__title {
      @include font(16px, 20px, 400);
    }

    &__content-container {
      padding: 5px 0 5px 10px;
    }

    &__arrow-btn{
      flex: 0 0 20px
    }
  }
}

@include mini-phone{

  .accordion {
    &__title {
      @include font(14px, 18px, 400);
    }
  }
}